<div class="container mt-3 w-25">
    <h1 class="text-center pb-4 ">log in</h1>
    <!-- TODO: validations (same as api.component) -->
    <form action="next" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="pwd" placeholder="password">
          </div>
          <div class="mb-3">
            <input type="submit" class="form-control btn btn-dark" value="sign in">
          </div>
    </form>
</div>
