/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@tailwind utilities;
@tailwind base;

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));
}

html,
body {
  height: 100%;
}

.mat-mdc-notch-piece.mdc-notched-outline__notch {
  border-right: 0px !important;
}