<!-- <div class="container mt-3">
    <button class="btn m-1 p-2"> Show All</button>
    <button class="btn m-1 p-2"> Burger</button>
    <button class="btn m-1 p-2"> Pizza</button>
    <button class="btn m-1 p-2"> Salade</button>
   /*<div class="btn-group" role="group" aria-label="Button group with nested dropdown"> */
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-door-open-fill"></i> Contact
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi bi-person-plus"></i> Register</a></li>
        </ul>
   /* </div>*/

</div> -->
<div class="container mt-1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           <a routerLink="/"> <button class="btn m-1 p-2"> Cuisine</button></a>
          </li>
          <li class="nav-item">
           <a routerLink="/burger"> <button class="btn m-1 p-2"> Burger</button></a>
          </li>
          <li class="nav-item">
            <a routerLink="/pizza"> <button class="btn m-1 p-2"> Pizza</button></a>
          </li>
          <li class="nav-item">
            <a routerLink="/salade">  <button class="btn m-1 p-2"> Salade</button></a>
          </li>
          <li class="nav-item">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn m-1 p-2 dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-door-open-fill"></i> Contact
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
                  <li><a class="dropdown-item" routerLink="/register"><i class="bi bi-person-plus"></i> Register</a></li>
                </ul>
              </div>
          </li>
          <li class="nav-item">
            <a routerLink="/api">  <button class="btn m-1 p-2"> API CRUD</button></a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>
</div>
