<div class="flex w-full justify-center p-3">
    <mat-card class="md:w-1/2 lg:w-1/3" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Ultimate Authentication</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-footer class="p-4">
            <mat-chip-set aria-label="Post Tags">
                @for (chip of chips; track $index) {
                    <mat-chip>{{ chip }}</mat-chip>
                }
            </mat-chip-set>

            <a class="mt-4" mat-flat-button [href]="link" target="_blank">
                Get Source Code
            </a>
        </mat-card-footer>
    </mat-card>
</div>
