<div class="flex w-full justify-center p-3">
    <!-- card -->
    <mat-card
        [appearance]="'outlined'"
        class="w-full rounded-lg p-4 md:w-1/2 lg:w-1/3"
    >
        <!-- logo -->
        <ngs-logo />

        <!-- title -->
        <div class="mb-8 mt-4 text-xl font-bold">Register</div>

        <!-- form -->
        <form
            [formGroup]="registerForm"
            class="flex flex-col justify-center space-y-1"
        >
            <!-- email -->
            <mat-form-field [appearance]="'outline'">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix [fontIcon]="'person'" />
                <input
                    type="email"
                    matInput
                    [formControlName]="registerProps.EMAIL"
                    placeholder="example@mail.io"
                />
                <mat-error>
                    {{
                        getError(
                            registerForm.get(registerProps.EMAIL),
                            registerProps.EMAIL
                        )
                    }}
                </mat-error>
            </mat-form-field>

            <!-- username -->
            <mat-form-field [appearance]="'outline'">
                <mat-label>Username</mat-label>
                <mat-icon matPrefix [fontIcon]="'badge'" />
                <input
                    type="text"
                    matInput
                    [formControlName]="registerProps.USERNAME"
                    placeholder="Orwel"
                    [autocomplete]="true"
                />
                <mat-error>
                    {{
                        getError(
                            registerForm.get(registerProps.USERNAME),
                            registerProps.USERNAME
                        )
                    }}
                </mat-error>
            </mat-form-field>

            <!-- password -->
            <mat-form-field [appearance]="'outline'">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix [fontIcon]="'lock'" />
                <input
                    type="password"
                    matInput
                    [formControlName]="registerProps.PASSWORD"
                    placeholder="|123456Qp|"
                    [autocomplete]="true"
                    #passwordField
                />
                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordField.type === 'password'
                            ? (passwordField.type = 'text')
                            : (passwordField.type = 'password')
                    "
                    matSuffix
                >
                    @if (passwordField.type === 'password') {
                        <mat-icon [fontIcon]="'visibility'" />
                    }
                    @if (passwordField.type === 'text') {
                        <mat-icon [fontIcon]="'visibility_off'" />
                    }
                </button>
                <mat-error>
                    {{
                        getError(
                            registerForm.get(registerProps.PASSWORD),
                            registerProps.PASSWORD
                        )
                    }}
                </mat-error>
            </mat-form-field>

            <!-- redirects  -->
            <div class="flex flex-row justify-end">
                <button mat-button [routerLink]="['../..', 'auth', 'login']">
                    Login
                </button>
            </div>
        </form>

        <!-- submit -->
        <button
            class="mt-4"
            [disabled]="isFormDisabled"
            mat-flat-button
            (click)="registerEmail()"
        >
            @if (isSpin()) {
                <mat-progress-spinner [mode]="'indeterminate'" diameter="30" />
            } @else {
                Register
            }
        </button>
    </mat-card>
</div>
