<div class="container w-50">
  <h1 class="text-center pb-4">Manage Recipes Orders</h1>
  <form [formGroup]="recipeForm" class="form-group">
    <div class="mb-3">
      <!-- name -->
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        formControlName="name"
        id="name"
        placeholder="Burger"
      />

      <!-- name errors -->
      @if (name?.touched && name?.invalid) {
      <div>
        @if (name?.errors?.['required']) {
        <small class="text-danger">name is required</small>
        } @if (name?.errors?.['minlength']) {
        <small class="text-danger">name is too short</small>
        }
      </div>
      }
    </div>

    <!-- price -->
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="price"
        class="form-control"
        name="price"
        formControlName="price"
        id="price"
        placeholder="120"
      />

      <!-- price errors -->
      @if (price?.touched && price?.invalid) {
      <div>
        @if (price?.errors?.['required']) {
        <small class="text-danger">price is required</small>
        } @if (price?.errors?.['pattern']) {
        <small class="text-danger">price is invalid</small>
        }
      </div>
      }
    </div>

    <!-- create(add) or update(put) -->
    <div class="mb-3">
      <!-- create -->
      @if (isAdd) {
      <button
        (click)="update()"
        class="form-control btn btn-dark hvr"
        [disabled]="!recipeForm.valid"
      >
        Add
      </button>
      }
      <!-- update -->
      @else {
      <button
        (click)="update()"
        class="form-control btn btn-warning hvr"
        [disabled]="!recipeForm.valid"
      >
        Update
      </button>
      }
    </div>
  </form>

  @if (recipes().length == 0) {
  <div class="alert alert-warning text-center">Empty Array</div>
  } @else {
  <div class="alert alert-success text-center">
    Total Price: {{ totalPrice() }}
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#Id</th>
        <th>Name</th>
        <th>Price (MAD)</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (recipe of recipes(); track recipe) {
      <tr>
        <td scope="row">{{ recipe.id }}</td>
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.price }}</td>
        <td>
          <button (click)="editRecipe(recipe)" class="btn btn-warning">
            update
          </button>
        </td>
        <td>
          <button (click)="delete(recipe.id)" class="btn btn-danger">
            delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
