<div class="w-50 px-40">
  <h1 class="text-center pb-4">Manage Recipes Orders</h1>
  <div class="grid grid-cols-3 gap-4">
    <form action="#" [formGroup]="recipeForm" class="grid grid-cols-6 gap-6">
      <div class="col-span-6">
        <label for="name" class="block text-sm font-medium text-gray-700">
          Name
        </label>

        <input
          type="email"
          formControlName="name"
          id="email"
          name="email"
          class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
        />
        <!-- name errors -->
        @if (name?.touched && name?.invalid) {
        <div>
          @if (name?.errors?.['required']) {
          <small class="text-red-500">name is required</small>
          } @if (name?.errors?.['minlength']) {
          <small class="text-red-500">name is too short</small>
          }
        </div>
        }
      </div>
      <!-- price -->
      <div class="col-span-6">
        <label for="price" class="block text-sm font-medium text-gray-700">
          Price
        </label>
        <input
          type="number"
          formControlName="price"
          id="price"
          name="price"
          class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
        />
        <!-- price errors -->
        @if (price?.touched && price?.invalid) {
        <div>
          @if (price?.errors?.['required']) {
          <small class="text-danger">price is required</small>
          } @if (price?.errors?.['pattern']) {
          <small class="text-danger">price is invalid</small>
          }
        </div>
        }
      </div>

      <!-- create(add) or update(put) -->
      <div class="mb-3">
        <!-- create -->
        @if (isAdd) {
        <button
          (click)="update()"
          class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
          [disabled]="!recipeForm.valid"
        >
          Add
        </button>
        }
        <!-- update -->
        @else {
        <button
          (click)="update()"
          class="inline-block shrink-0 rounded-md border border-yellow-600 bg-yellow-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-yellow-600 focus:outline-none focus:ring active:text-blue-500"
          [disabled]="!recipeForm.valid"
        >
          Update
        </button>
        }
      </div>
    </form>

    <div class="col-span-2">
      @if (recipes().length == 0) {
      <div class="border rounded-lg p-6 text-center">Empty Array</div>
      } @else {
      <div class="border rounded-lg p-6 text-center">
        Total Price:
        <span class="font-semibold">{{ totalPrice() }}</span>
      </div>
      <table class="table-auto w-full border">
        <thead>
          <tr>
            <th class="text-start p-2">#Id</th>
            <th class="text-start p-2">Name</th>
            <th class="text-start p-2">Price (MAD)</th>
            <th class="text-start p-2">Edit</th>
            <th class="text-start p-2">Delete</th>
          </tr>
        </thead>
        <tbody class="text-start">
          @for (recipe of recipes(); track recipe) {
          <tr>
            <td class="text-start p-2">{{ recipe.id }}</td>
            <td class="text-start p-2">{{ recipe.name }}</td>
            <td class="text-start p-2">{{ recipe.price }}</td>
            <td class="text-start p-2">
              <button
                class="border border-yellow-400 text-yellow-500 p-2 rounded-md hover:bg-yellow-50"
                (click)="editRecipe(recipe)"
              >
                Update
              </button>
            </td>
            <td class="text-start p-2">
              <button
                class="border border-red-400 text-red-500 p-2 rounded-md hover:bg-red-50"
                (click)="delete(recipe.id)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</div>
