@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.light-mode {
  background-color: #eeedf3;
}


body.dark-mode {
  background-color: #2b2a42;
}

$palettes: (
    "azure": mat.$azure-palette,
    "yellow": mat.$yellow-palette,
    "cyan": mat.$cyan-palette,
    "magenta": mat.$magenta-palette,
    "orange": mat.$orange-palette,
    "spring-green": mat.$spring-green-palette,
    "rose": mat.$rose-palette
);


@each $fbpalette, $matpalette in $palettes {
    .#{$fbpalette}-theme {
        // color-scheme: light dark;
        @include mat.theme((color: $matpalette,
                typography: Roboto,
                density: 0,
            ));
    }
}