<div class="container mt-2">
    <div class="row">

        <div class="col col-lg-4 col-xd-12">
            <img src="assets/img/BURGER.png" class="img-fluid img-responsive w-60 h-50" alt="burger promo">
            <h4 class="mt-2">Burger Promo</h4>
            <p class="text-justify mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt fugiat dignissimos numquam pariatur hic vitae aperiam optio totam id error sapiente eum.</p>
        </div>


        <div class="col col-lg-4 col-xd-12">
            <img src="assets/img/BlackMeat.png" class="img-fluid img-responsive w-60 h-50" alt="black meat">
            <h4 class="mt-2">Black Meat</h4>
            <p class="text-justify mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt fugiat dignissimos numquam pariatur hic vitae aperiam optio totam id error sapiente eum.</p>
        </div>


        <div class="col col-lg-4 col-xd-12">
            <img src="assets/img/GrilledMeat.png"  class="img-fluid img-responsive w-60 h-50" alt="grilled meat">
            <h4 class="mt-2">Grilled Meat</h4>
            <p class="text-justify mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt fugiat dignissimos numquam pariatur hic vitae aperiam optio totam id error sapiente eum.</p>
        </div>

    </div>
</div>
