<mat-drawer-container class="h-full" autosize>
  <mat-drawer class="w-56" #drawer [opened]="isOpen" mode="side">
    <mat-nav-list class="border-r h-full p-4">
      @for (link of navigations; track link) {
      <a
        mat-list-item
        [routerLink]="link | lowercase"
        [activated]="link.isActive"
        >{{ link | titlecase }}</a
      >
      }
    </mat-nav-list>
  </mat-drawer>

  <div>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <router-outlet />
  </div>
</mat-drawer-container>
