/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;

@include mat.core();

:root {
  --primary-0: #000000;
  --primary-10: #001f24;
  --primary-20: #00363d;
  --primary-25: #00424a;
  --primary-30: #004f58;
  --primary-35: #005b66;
  --primary-40: #006874;
  --primary-50: #068391;
  --primary-60: #389eac;
  --primary-70: #58b9c7;
  --primary-80: #75d4e4;
  --primary-90: #98f0ff;
  --primary-95: #d0f8ff;
  --primary-98: #edfcff;
  --primary-99: #f6feff;
  --primary-100: #ffffff;

  --p-secondary-0: #000000;
  --p-secondary-10: #001f24;
  --p-secondary-20: #00363d;
  --p-secondary-25: #00424a;
  --p-secondary-30: #004f58;
  --p-secondary-35: #005b66;
  --p-secondary-40: #006874;
  --p-secondary-50: #068391;
  --p-secondary-60: #389eac;
  --p-secondary-70: #58b9c7;
  --p-secondary-80: #75d4e4;
  --p-secondary-90: #98f0ff;
  --p-secondary-95: #d0f8ff;
  --p-secondary-98: #edfcff;
  --p-secondary-99: #f6feff;
  --p-secondary-100: #ffffff;

  --p-neutral-0: #000000;
  --p-neutral-10: #191c1c;
  --p-neutral-20: #2e3131;
  --p-neutral-25: #393c3c;
  --p-neutral-30: #454748;
  --p-neutral-35: #505353;
  --p-neutral-40: #5c5f5f;
  --p-neutral-50: #757778;
  --p-neutral-60: #8f9191;
  --p-neutral-70: #aaabac;
  --p-neutral-80: #c5c7c7;
  --p-neutral-90: #e1e3e3;
  --p-neutral-95: #f0f1f1;
  --p-neutral-98: #f9f9fa;
  --p-neutral-99: #fbfcfc;
  --p-neutral-100: #ffffff;

  --p-neutral-0: #000000;
  --p-neutral-4: #000c10;
  --p-neutral-6: #001317;
  --p-neutral-10: #001f27;
  --p-neutral-12: #00242c;
  --p-neutral-17: #002f39;
  --p-neutral-20: #003641;
  --p-neutral-22: #003b47;
  --p-neutral-24: #00404c;
  --p-neutral-25: #00424f;
  --p-neutral-30: #004e5d;
  --p-neutral-35: #005b6c;
  --p-neutral-40: #00687b;
  --p-neutral-50: #00829b;
  --p-neutral-60: #009ebb;
  --p-neutral-70: #30bad9;
  --p-neutral-80: #57d6f6;
  --p-neutral-87: #95e5fc;
  --p-neutral-90: #afecff;
  --p-neutral-92: #c0f0ff;
  --p-neutral-94: #d1f3ff;
  --p-neutral-95: #daf5ff;
  --p-neutral-96: #e2f7ff;
  --p-neutral-98: #f1fbff;
  --p-neutral-99: #f8fdff;
  --p-neutral-100: #ffffff;

  --p-neutral-variant-0: #000000;
  --p-neutral-variant-10: #161d1e;
  --p-neutral-variant-20: #2b3233;
  --p-neutral-variant-25: #363d3e;
  --p-neutral-variant-30: #414849;
  --p-neutral-variant-35: #4d5455;
  --p-neutral-variant-40: #586061;
  --p-neutral-variant-50: #71787a;
  --p-neutral-variant-60: #8b9293;
  --p-neutral-variant-70: #a5acae;
  --p-neutral-variant-80: #c1c8c9;
  --p-neutral-variant-90: #dde4e5;
  --p-neutral-variant-95: #ebf2f3;
  --p-neutral-variant-98: #f4fbfc;
  --p-neutral-variant-99: #f7fdff;
  --p-neutral-variant-100: #ffffff;

  --p-error-0: #000000;
  --p-error-10: #410002;
  --p-error-20: #690005;
  --p-error-25: #7e0007;
  --p-error-30: #93000a;
  --p-error-35: #a80710;
  --p-error-40: #ba1a1a;
  --p-error-50: #de3730;
  --p-error-60: #ff5449;
  --p-error-70: #ff897d;
  --p-error-80: #ffb4ab;
  --p-error-90: #ffdad6;
  --p-error-95: #ffedea;
  --p-error-98: #fff8f7;
  --p-error-99: #fffbff;
  --p-error-100: #ffffff;

  --tertiary-0: #000000;
  --tertiary-10: #410003;
  --tertiary-20: #690007;
  --tertiary-25: #7d000a;
  --tertiary-30: #93000e;
  --tertiary-35: #a60f16;
  --tertiary-40: #b81f21;
  --tertiary-50: #db3a36;
  --tertiary-60: #ff544c;
  --tertiary-70: #ff897f;
  --tertiary-80: #ffb4ac;
  --tertiary-90: #ffdad6;
  --tertiary-95: #ffedea;
  --tertiary-98: #fff8f7;
  --tertiary-99: #fffbff;
  --tertiary-100: #ffffff;

  --t-secondary-0: #000000;
  --t-secondary-10: #350f0d;
  --t-secondary-20: #4f2320;
  --t-secondary-25: #5c2e2a;
  --t-secondary-30: #6a3935;
  --t-secondary-35: #774440;
  --t-secondary-40: #85504b;
  --t-secondary-50: #a26862;
  --t-secondary-60: #bf817b;
  --t-secondary-70: #dc9b94;
  --t-secondary-80: #fab5ae;
  --t-secondary-90: #ffdad6;
  --t-secondary-95: #ffedea;
  --t-secondary-98: #fff8f7;
  --t-secondary-99: #fffbff;
  --t-secondary-100: #ffffff;

  --t-neutral-0: #000000;
  --t-neutral-10: #201a19;
  --t-neutral-20: #362f2e;
  --t-neutral-25: #413a39;
  --t-neutral-30: #4d4544;
  --t-neutral-35: #59504f;
  --t-neutral-40: #655c5b;
  --t-neutral-50: #7f7574;
  --t-neutral-60: #998e8d;
  --t-neutral-70: #b4a9a7;
  --t-neutral-80: #d0c4c2;
  --t-neutral-90: #ede0de;
  --t-neutral-95: #fbeeec;
  --t-neutral-98: #fff8f7;
  --t-neutral-99: #fffbff;
  --t-neutral-100: #ffffff;

  --t-neutral-variant-0: #000000;
  --t-neutral-variant-10: #251917;
  --t-neutral-variant-20: #3b2d2c;
  --t-neutral-variant-25: #473836;
  --t-neutral-variant-30: #534341;
  --t-neutral-variant-35: #5f4f4d;
  --t-neutral-variant-40: #6b5a59;
  --t-neutral-variant-50: #857371;
  --t-neutral-variant-60: #a08c8a;
  --t-neutral-variant-70: #bba6a4;
  --t-neutral-variant-80: #d8c2bf;
  --t-neutral-variant-90: #f5dddb;
  --t-neutral-variant-95: #ffedea;
  --t-neutral-variant-98: #fff8f7;
  --t-neutral-variant-99: #fffbff;
  --t-neutral-variant-100: #ffffff;
}

$_palettes: (
  primary: (0: var(--primary-0),
    10: var(--primary-10),
    20: var(--primary-20),
    25: var(--primary-25),
    30: var(--primary-30),
    35: var(--primary-35),
    40: var(--primary-40),
    50: var(--primary-50),
    60: var(--primary-60),
    70: var(--primary-70),
    80: var(--primary-80),
    90: var(--primary-90),
    95: var(--primary-95),
    98: var(--primary-98),
    99: var(--primary-99),
    100: var(--primary-100),
  ),
  secondary: (0: var(--p-secondary-0),
    10: var(--p-secondary-10),
    20: var(--p-secondary-20),
    25: var(--p-secondary-25),
    30: var(--p-secondary-30),
    35: var(--p-secondary-35),
    40: var(--p-secondary-40),
    50: var(--p-secondary-50),
    60: var(--p-secondary-60),
    70: var(--p-secondary-70),
    80: var(--p-secondary-80),
    90: var(--p-secondary-90),
    95: var(--p-secondary-95),
    98: var(--p-secondary-98),
    99: var(--p-secondary-99),
    100: var(--p-secondary-100),
  ),
  neutral: (0: var(--p-neutral-0),
    4: var(--p-neutral-4),
    6: var(--p-neutral-6),
    10: var(--p-neutral-10),
    12: var(--p-neutral-12),
    17: var(--p-neutral-17),
    20: var(--p-neutral-20),
    22: var(--p-neutral-22),
    24: var(--p-neutral-24),
    25: var(--p-neutral-25),
    30: var(--p-neutral-30),
    35: var(--p-neutral-35),
    40: var(--p-neutral-40),
    50: var(--p-neutral-50),
    60: var(--p-neutral-60),
    70: var(--p-neutral-70),
    80: var(--p-neutral-80),
    87: var(--p-neutral-87),
    90: var(--p-neutral-90),
    92: var(--p-neutral-92),
    94: var(--p-neutral-94),
    95: var(--p-neutral-95),
    96: var(--p-neutral-96),
    98: var(--p-neutral-98),
    99: var(--p-neutral-99),
    100: var(--p-neutral-100),
  ),
  neutral-variant: (0: var(--p-neutral-variant-0),
    10: var(--p-neutral-variant-10),
    20: var(--p-neutral-variant-20),
    25: var(--p-neutral-variant-25),
    30: var(--p-neutral-variant-30),
    35: var(--p-neutral-variant-35),
    40: var(--p-neutral-variant-40),
    50: var(--p-neutral-variant-50),
    60: var(--p-neutral-variant-60),
    70: var(--p-neutral-variant-70),
    80: var(--p-neutral-variant-80),
    90: var(--p-neutral-variant-90),
    95: var(--p-neutral-variant-95),
    98: var(--p-neutral-variant-98),
    99: var(--p-neutral-variant-99),
    100: var(--p-neutral-variant-100),
  ),
  error: (0: var(--p-error-0),
    10: var(--p-error-10),
    20: var(--p-error-20),
    25: var(--p-error-25),
    30: var(--p-error-30),
    35: var(--p-error-35),
    40: var(--p-error-40),
    50: var(--p-error-50),
    60: var(--p-error-60),
    70: var(--p-error-70),
    80: var(--p-error-80),
    90: var(--p-error-90),
    95: var(--p-error-95),
    98: var(--p-error-98),
    99: var(--p-error-99),
    100: var(--p-error-100),
  ),
  tertiary: mat.$violet-palette,
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$angular-material-3-theme: mat.define-theme((color: (theme-type: light,
        primary: $_primary,
        tertiary: $_tertiary,
        use-system-variables: true,
      ),
    ));

$angular-material-3-theme-dark: mat.define-theme((color: (theme-type: dark,
        primary: $_primary,
        tertiary: $_tertiary,
        use-system-variables: true,
      ),
    ));

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.system-level-colors($angular-material-3-theme);
  @include mat.system-level-typography($angular-material-3-theme);
  @include mat.all-component-themes($angular-material-3-theme);
  @include mat.color-variants-backwards-compatibility($angular-material-3-theme);

  .dark {
    @include mat.system-level-colors($angular-material-3-theme-dark);
    @include mat.all-component-colors($angular-material-3-theme-dark);
  }
}
