
<div style="padding: 0 20px;">
  <h1>Products</h1>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">

    <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher un produit">
    </mat-form-field>

    <button mat-button color="accent" (click)="onAdd()">
      Add Product
    </button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

     @for (column of columns; track column) {
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    
    </table>

    <mat-paginator [pageSizeOptions]="[2,5,10]"></mat-paginator>
  </div>