<div class="container mt-1">
  <div class="row">
    <div class="col col-lg-4 col-xd-12">
      <img
        src="img/salade.png"
        class="img-fluid img-responsive w-60 h-50"
        alt="slade"
      />
      <h4 class="mt-2">Salade</h4>
      <p class="text-justify mt-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt
        fugiat dignissimos numquam pariatur hic vitae aperiam optio totam id
        error sapiente eum.
      </p>
    </div>
  </div>
</div>
